@import "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css";

body{padding:50px;}

#instructions {
  top: 0px;
  padding:2em 5em;
  background-color: #B2D4DC;
  color: #2A3A48;
}

#instructions hr {
  border:none;
  border-top: 1px solid #fff;
}
#instructions li {
  line-height: 2em;
}
#instructions-toggle {
  position:absolute;
  top: 0px;
  left: 50px;
  background-color: #FF6900;

  box-shadow: 0px 2px 2px #CC5400 inset;
  padding:10px;
  border-radius: 0px 0px 5px 5px;
  color: #fff;
  cursor: pointer;
}

#instructions-toggle:hover {
  padding-top: 11px;
  border-bottom: 1px solid #CC5400;
}

section {
  background-color: #f1f1f1;
  padding: 5px 25px;
  margin-top: 25px;
}
